<app-navigation></app-navigation>
<div style="padding:2rem">

  <h2>UPDATE PROFILE</h2>
  <form>
    <mat-form-field>
      <input
        matInput 
        [(ngModel)]="userData.Username"
        type="username"
        placeholder="username"
        name="Username"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput 
        [(ngModel)]="userData.Password"
        type="password"
        placeholder="password"
        name="Password"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput 
        [(ngModel)]="userData.Email"
        type="email"
        placeholder="email"
        name="Email"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput 
        [(ngModel)]="userData.Birthday"
        type="date"
        minLength="6"
        placeholder="birthday"
        name="Birthday"
        required>
    </mat-form-field>
  </form>
  <button 
    mat-raised-button 
    (click)="editUser()" 
    color="primary">
    UPDATE DETAILS
  </button>

  <button 
    mat-raised-button 
    (click)="deleteUser()"
    color="warn">
    REMOVE ACCOUNT
  </button>
</div>

